---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Design Documents"
    description="Design Documents for Projects I have worked on"
>
    <main class="pt-8 pb-4">
        <p class="text-bold">in Draft: Coming Soon</p>
    </main>
</Layout>
