---
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";

const posts = await Astro.glob("./*.md").then((posts) => {
    return posts.sort((a, b) => {
        return (
            new Date(b.frontmatter.publishedAt).valueOf() -
            new Date(a.frontmatter.publishedAt).valueOf()
        );
    });
});
---

<Layout
    title="Blog"
    description="Vaibhav's articles realted to tech and stuff he likes"
>
    <p class="uppercase pt-8 pb-2 text-sm font-bold">&#9716; Recent Posts</p>
    <main class="pb-4 grid gap-y-4">
        </>
        {
            posts.map((post) => {
                // const { title, publishedAt, image } = post.frontmatter;
                return (
                    <PostCard
                        title={post.frontmatter.title}
                        publishedAt={post.frontmatter.publishedAt}
                        image={post.frontmatter.image}
                        url={post.url || ""}
                    />
                );
            })
        }
    </main>
</Layout>
