---
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";
import { getCollection } from "astro:content";
import { calculateReadTime } from "../../utils/text";

const posts = await getCollection("blog", ({ data }) => {
    // Filter out drafts in production
    return import.meta.env.DEV || !data.draft;
}).then((posts) => {
    return posts
        .sort((a, b) => {
            return (
                new Date(b.data.publishedAt).valueOf() -
                new Date(a.data.publishedAt).valueOf()
            );
        })
        .map((post) => {
            return {
                ...post,
                data: {
                    ...post.data,
                    readTime: calculateReadTime(post.body),
                },
            };
        });
});
---

<Layout
    title="Blog"
    description="Vaibhav's articles related to tech and stuff he likes"
>
    <main class="py-12 grid">
        <div class="relative mt-12 ml-0 lg:ml-[200px]">
            <div
                class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-carbon-lighter sm:block"
            >
            </div>
            <div class="space-y-16">
                {posts.map((post) => <PostCard post={post} base="/blog/" />)}
            </div>
        </div>
    </main>
</Layout>
