---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Site" description="What kubre.in uses?">
    <style>
        .dvd {
            animation:
                dvd infinite linear 10s,
                cycle infinite step-end 10s;
        }

        @keyframes cycle {
            0% {
                @apply bg-red-500;
            }
            25% {
                @apply bg-yellow-500;
            }
            50% {
                @apply bg-green-500;
            }
            75% {
                @apply bg-blue-500;
            }
            100% {
                @apply bg-red-500;
            }
        }

        @keyframes dvd {
            0% {
                transform: translate(120px, 0);
            }
            25% {
                transform: translate(0, 240px);
            }
            50% {
                transform: translate(120px, 345px);
            }
            75% {
                transform: translate(280px, 140px);
            }
            100% {
                transform: translate(120px, 0);
            }
        }
    </style>
    <main class="py-8 grid lg:grid-cols-2 gap-x-4 gap-y-6">
        <h1 class="col-span-2 uppercase text-2xl font-bold text-carbon-lighter">
            Engineering Technology
        </h1>
        <p class="col-span-2">What kubre.in uses?</p>
        <div class="col-span-2 flex flex-col lg:flex-row gap-8">
            <table>
                <thead>
                    <tr>
                        <th class="text-start" colspan="2">Software Stack</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Environment</td>
                        <td>PROD</td>
                    </tr>
                    <tr>
                        <td>Frontend</td>
                        <td>Astro & TailwindCSS</td>
                    </tr>
                    <tr>
                        <td>Backend</td>
                        <td>Typescript</td>
                    </tr>
                    <tr>
                        <td>Hosting</td>
                        <td>Cloudeflare pages</td>
                    </tr>
                    <tr>
                        <td>Analytics</td>
                        <td>Cloudeflare</td>
                    </tr>
                </tbody>
            </table>
            <fieldset
                class="h-[370px] aspect-square w-[370px] border border-carbon mx-auto relative"
            >
                <p
                    class="top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 absolute"
                >
                    No Signal
                </p>
                <div
                    class="px-2 bg-red-200 border border-white/40 dvd inline-block text-sm"
                >
                    kubre.in
                </div>
            </fieldset>
        </div>
    </main>
</Layout>
