---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Design Documents"
    description="Design Documents for Projects I have worked on"
>
    <style>
        table * {
            @apply border-collapse border;
        }

        table tbody td {
            @apply px-2 py-1;
        }

        .dvd {
            animation: dvd infinite linear 10s, cycle infinite step-end 10s;
        }

        @keyframes cycle {
            0% {
                @apply bg-red-700;
            }
            25% {
                @apply bg-yellow-500;
            }
            50% {
                @apply bg-green-700;
            }
            75% {
                @apply bg-blue-700;
            }
            100% {
                @apply bg-red-700;
            }
        }

        @keyframes dvd {
            0% {
                transform: translate(120px, 0);
            }
            25% {
                transform: translate(0, 240px);
            }
            50% {
                transform: translate(120px, 340px);
            }
            75% {
                transform: translate(275px, 140px);
            }
            100% {
                transform: translate(120px, 0);
            }
        }
    </style>
    <main class="pt-8 pb-16 grid lg:grid-cols-2 gap-x-4 gap-y-2">
        <strong class="cols-span-2">kubre.in tech stack</strong>
        <div class="col-span-2 flex gap-4">
            <table class="border-l-4 h-auto self-start w-full">
                <thead class="border-t border-dashed text-sm uppercase">
                    <tr>
                        <th class="bg-white/40 text-start" colspan="2"
                            >Software Stack</th
                        >
                    </tr>
                </thead>
                <tbody class="text-sm">
                    <tr>
                        <td>Environment</td>
                        <td
                            ><span
                                class="bg-green-700 font-semibold px-2 py-0 text-xs border border-white/50"
                                >PROD</span
                            ></td
                        >
                    </tr>
                    <tr>
                        <td>Frontend</td>
                        <td>Astro & TailwindCSS</td>
                    </tr>
                    <tr>
                        <td>Backend</td>
                        <td>Typescript</td>
                    </tr>
                    <tr>
                        <td>Hosting</td>
                        <td>Vercel</td>
                    </tr>
                    <tr>
                        <td>Analytics</td>
                        <td>Vercel Analytics</td>
                    </tr>
                </tbody>
            </table>
            <div
                class="h-[370px] aspect-square w-[370px] border-2 font-bold border-white/40 mx-auto"
            >
                <div class="px-2 bg-red-700 dvd inline-block">kubre.in</div>
            </div>
        </div>
    </main>
</Layout>
