---
import Layout from "../layouts/Layout.astro";
import Contacts from "../components/Contacts.astro";
---

<Layout title="Home" description="Vaibhav's Homepage on the internet">
    <main class="grid pb-8 pt-8 md:pt-18 h-auto">
        <div class="space-y-2">
            <button
                class="border uppercase px-2 pt-[3px] focus:bg-white/70 focus:text-black text-sm peer"
            >
                &#9658; EXECUTE
            </button>
            <fieldset class="border border-l-4 px-2 py-1">
                <legend class="px-2 py-0 border-x ml-auto text-xs">
                    index.js
                </legend>
                <pre><span class="text-gray-400 hidden lg:block">/**
* Love for Computers, Engineering, and Science.
*/</span><span class="text-gray-400 lg:hidden">/**
* Love for Computers, Engineering,
* and Science
*/</span>&lpar;function vaibhav() &lcub;
  console.log(<span class="text-gray-400">"Fullstack Engineer"</span>);
&rcub;&rpar;&lpar;&rpar;;</pre>
            </fieldset>
            <fieldset
                class="border border-l-4 px-2 py-1 opacity-0 peer-focus:opacity-100"
            >
                <legend class="px-2 py-0 border-x ml-auto text-xs">
                    bash
                </legend>
                <div><span class="text-gray-500">$</span> node index.js</div>
                <div>Fullstack Engineer</div>
            </fieldset>
        </div>
        <div class="h-4"></div>
        <Contacts/>
    </main>
    <script>
        console.info("What are you looking for? This is HTML Site.");
        console.log(`⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⢻⡻⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣟⣫⡾⠛⠛⠛⠛⠛⠛⠿⣾⣽⡻⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡟⣼⠏⠄⠄⠄⠄⠄⠄⣀⣀⡀⣙⣿⣎⢿⣿⣿⣿
⣿⣿⣿⣿⣿⢹⡟⠄⠄⠄⣰⡾⠟⠛⠛⠛⠛⠛⠛⠿⣮⡻⣿⣿
⣿⡿⢟⣻⣟⣽⠇⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠈⢿⡹⣿
⡟⣼⡟⠉⠉⣿⠄⠄⠄⠄⢿⡄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣼⢟⣿
⣇⣿⠁⠄⠄⣿⠄⠄⠄⠄⠘⢿⣦⣄⣀⣀⣀⣀⣤⡴⣾⣏⣾⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠈⠉⠛⠋⠉⠉⠄⠄⢻⣿⣿⣿
⢃⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢸⣧⣿⣿
⡻⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣸⣧⣿⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣿⢹⣿⣿
⣿⡸⢷⣤⣤⣿⡀⠄⠄⠄⠄⢠⣤⣄⣀⣀⣀⠄⠄⢠⣿⣿⣿⣿
⣿⣿⣷⣿⣷⣿⡇⠄⠄⠄⠄⢸⡏⡍⣿⡏⠄⠄⠄⢸⡏⣿⣿⣿
⣿⣿⣿⣿⣿⢼⡇⠄⠄⠄⠄⣸⡇⣷⣻⣆⣀⣀⣀⣼⣻⣿⣿⣿
⣿⣿⣿⣿⣿⣜⠿⢦⣤⣤⡾⢟⣰⣿⣷⣭⣯⣭⣯⣥⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿`);
    </script>
</Layout>
