---
// import Avatar from "../components/Avatar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Vaibhav's Homepage on the internet">
    <main class="block md:grid pb-8 pt-8 md:pt-18 h-auto">
        <div class="space-y-2">
            <button class="border w-20 focus:bg-white focus:text-black peer">
                &#9658; RUN
            </button>
            <pre
                class="py-1 px-2 border border-l-4"><span class="text-gray-400 hidden lg:block">/**
* Love for Computers, Engineering, and Science.
*/</span><span class="text-gray-400 lg:hidden">/**
* Love for Computers, Engineering,
* and Science
*/</span>
function vaibhav(): &lcub;
  console.log(<span class="text-gray-400">"Fullstack Engineer"</span>);
&rcub;</pre>
            <div
                class="border px-2 py-1 text-black border-black peer-focus:text-white peer-focus:border-white"
            >
                <div>$ node index.js</div>
                <div>Fullstack Engineer</div>
            </div>
        </div>
        <div class="h-4"></div>
        <div class="grid grid-cols-3 w-[240px]">
            <span>Email</span>
            <span>:</span>
            <a href="mailto:v@kubre.in?subject=Hello">v@kubre.in</a>

            <span>LinkedIn</span>
            <span>:</span>
            <a href="https://linkedin.com/in/kubre"> linkedin.com/in/kubre</a>
            <span>GitHub</span><span>:</span>
            <a href="https://github.com/kubre"> github.com/kubre</a>
        </div>
    </main>
    <script>
        console.warn("What are you looking for? This is HTML Site");
        console.log(`⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⢻⡻⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣟⣫⡾⠛⠛⠛⠛⠛⠛⠿⣾⣽⡻⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡟⣼⠏⠄⠄⠄⠄⠄⠄⣀⣀⡀⣙⣿⣎⢿⣿⣿⣿
⣿⣿⣿⣿⣿⢹⡟⠄⠄⠄⣰⡾⠟⠛⠛⠛⠛⠛⠛⠿⣮⡻⣿⣿
⣿⡿⢟⣻⣟⣽⠇⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠈⢿⡹⣿
⡟⣼⡟⠉⠉⣿⠄⠄⠄⠄⢿⡄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣼⢟⣿
⣇⣿⠁⠄⠄⣿⠄⠄⠄⠄⠘⢿⣦⣄⣀⣀⣀⣀⣤⡴⣾⣏⣾⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠈⠉⠛⠋⠉⠉⠄⠄⢻⣿⣿⣿
⢃⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢸⣧⣿⣿
⡻⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣸⣧⣿⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣿⢹⣿⣿
⣿⡸⢷⣤⣤⣿⡀⠄⠄⠄⠄⢠⣤⣄⣀⣀⣀⠄⠄⢠⣿⣿⣿⣿
⣿⣿⣷⣿⣷⣿⡇⠄⠄⠄⠄⢸⡏⡍⣿⡏⠄⠄⠄⢸⡏⣿⣿⣿
⣿⣿⣿⣿⣿⢼⡇⠄⠄⠄⠄⣸⡇⣷⣻⣆⣀⣀⣀⣼⣻⣿⣿⣿
⣿⣿⣿⣿⣿⣜⠿⢦⣤⣤⡾⢟⣰⣿⣷⣭⣯⣭⣯⣥⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿`);
    </script>
</Layout>
