---
// import Avatar from "../components/Avatar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Vaibhav's Homepage on the internet">
    <main class="block md:grid pb-8 pt-8 md:pt-18 h-auto">
        <div class="space-y-2">
            <button class="border w-20 focus:bg-white focus:text-black peer">
                &#9658; RUN
            </button>
            <pre
                class="py-1 px-2 border border-l-4"><span class="text-gray-400 hidden lg:block">/**
* Love for Computers, Engineering, and Science.
*/</span><span class="text-gray-400 lg:hidden">/**
* Love for Computers, Engineering,
* and Science
*/</span>function vaibhav() &lcub;
  console.log(<span class="text-gray-400">"Fullstack Engineer"</span>);
&rcub;</pre>
            <div
                class="border px-2 py-1 text-black border-black peer-focus:text-white peer-focus:border-white"
            >
                <div>$ node index.js</div>
                <div>Fullstack Engineer</div>
            </div>
        </div>
        <div class="h-4"></div>
        <code class="text-sm pb-2 pt-4">Contacts</code>
        <div class="grid grid-cols-4 text-center lg:grid-cols-6 gap-x-2">
            <a
                target="_blank"
                class="bg-blue-700 px-2 text-xs border border-white/40"
                href="mailto:v@kubre.in?subject=Hello">v@kubre.in</a
            >
            <a
                target="_blank"
                class="bg-blue-700 px-2 text-xs border border-white/40"
                href="https://linkedin.com/in/kubre">LinkedIn</a
            >
            <a
                target="_blank"
                class="bg-blue-700 px-2 text-xs border border-white/40"
                href="https://github.com/kubre">GitHub</a
            >
        </div>
    </main>
    <script>
        console.warn("What are you looking for? This is HTML Site");
        console.log(`⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⢻⡻⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣟⣫⡾⠛⠛⠛⠛⠛⠛⠿⣾⣽⡻⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡟⣼⠏⠄⠄⠄⠄⠄⠄⣀⣀⡀⣙⣿⣎⢿⣿⣿⣿
⣿⣿⣿⣿⣿⢹⡟⠄⠄⠄⣰⡾⠟⠛⠛⠛⠛⠛⠛⠿⣮⡻⣿⣿
⣿⡿⢟⣻⣟⣽⠇⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠈⢿⡹⣿
⡟⣼⡟⠉⠉⣿⠄⠄⠄⠄⢿⡄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣼⢟⣿
⣇⣿⠁⠄⠄⣿⠄⠄⠄⠄⠘⢿⣦⣄⣀⣀⣀⣀⣤⡴⣾⣏⣾⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠈⠉⠛⠋⠉⠉⠄⠄⢻⣿⣿⣿
⢃⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢸⣧⣿⣿
⡻⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣸⣧⣿⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣿⢹⣿⣿
⣿⡸⢷⣤⣤⣿⡀⠄⠄⠄⠄⢠⣤⣄⣀⣀⣀⠄⠄⢠⣿⣿⣿⣿
⣿⣿⣷⣿⣷⣿⡇⠄⠄⠄⠄⢸⡏⡍⣿⡏⠄⠄⠄⢸⡏⣿⣿⣿
⣿⣿⣿⣿⣿⢼⡇⠄⠄⠄⠄⣸⡇⣷⣻⣆⣀⣀⣀⣼⣻⣿⣿⣿
⣿⣿⣿⣿⣿⣜⠿⢦⣤⣤⡾⢟⣰⣿⣷⣭⣯⣭⣯⣥⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿`);
    </script>
</Layout>
