---
// import Avatar from "../components/Avatar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Vaibhav's Homepage on the internet">
    <main class="block md:grid pb-8 pt-4 md:pt-8 h-auto"> 
    </main>
</Layout>
