---
// import Avatar from "../components/Avatar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Vaibhav's Homepage on the internet">
    <main class="grid pb-8 pt-8 md:pt-18 h-auto">
        <div class="space-y-2">
            <button
                class="border uppercase px-2 focus:bg-white/70 focus:text-black text-sm peer"
            >
                &#9658; run
            </button>
            <fieldset class="border border-l-4 px-2 py-1">
                <legend class="px-2 py-0 border ml-auto text-xs">
                    index.js
                </legend>
                <pre><span class="text-gray-400 hidden lg:block">/**
* Love for Computers, Engineering, and Science.
*/</span><span class="text-gray-400 lg:hidden">/**
* Love for Computers, Engineering,
* and Science
*/</span>function vaibhav() &lcub;
  console.log(<span class="text-gray-400">"Fullstack Engineer"</span>);
&rcub;</pre>
            </fieldset>
            <fieldset
                class="border px-2 py-1 text-black border-black peer-focus:text-white peer-focus:border-white"
            >
                <legend class="px-2 py-0 border border-inherit ml-auto text-xs">
                    bash
                </legend>
                <div>$ node index.js</div>
                <div>Fullstack Engineer</div>
            </fieldset>
        </div>
        <div class="h-4"></div>
        <code class="text-xs pb-2 pt-4 uppercase font-semibold">Contacts</code>
        <div class="grid grid-cols-3 text-sm text-center lg:grid-cols-6 gap-x-2">
            <a
                target="_blank"
                class="bg-blue-700 hover:bg-blue-700/90 px-1 border border-white/40"
                href="mailto:v@kubre.in?subject=Hello"
            >&#x2197; v@kubre.in</a>
            <a
                target="_blank"
                class="bg-blue-700 hover:bg-blue-700/90 px-2 border border-white/40"
                href="https://linkedin.com/in/kubre"
            >&#x2197; LinkedIn</a>
            <a
                target="_blank"
                class="bg-blue-700 hover:bg-blue-700/90 px-2 border border-white/40"
                href="https://github.com/kubre"
            >&#x2197; GitHub</a>
        </div>
    </main>
    <script>
        console.warn("What are you looking for? This is HTML Site");
        console.log(`⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⢻⡻⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣟⣫⡾⠛⠛⠛⠛⠛⠛⠿⣾⣽⡻⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡟⣼⠏⠄⠄⠄⠄⠄⠄⣀⣀⡀⣙⣿⣎⢿⣿⣿⣿
⣿⣿⣿⣿⣿⢹⡟⠄⠄⠄⣰⡾⠟⠛⠛⠛⠛⠛⠛⠿⣮⡻⣿⣿
⣿⡿⢟⣻⣟⣽⠇⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠈⢿⡹⣿
⡟⣼⡟⠉⠉⣿⠄⠄⠄⠄⢿⡄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣼⢟⣿
⣇⣿⠁⠄⠄⣿⠄⠄⠄⠄⠘⢿⣦⣄⣀⣀⣀⣀⣤⡴⣾⣏⣾⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠈⠉⠛⠋⠉⠉⠄⠄⢻⣿⣿⣿
⢃⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢸⣧⣿⣿
⡻⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣸⣧⣿⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣿⢹⣿⣿
⣿⡸⢷⣤⣤⣿⡀⠄⠄⠄⠄⢠⣤⣄⣀⣀⣀⠄⠄⢠⣿⣿⣿⣿
⣿⣿⣷⣿⣷⣿⡇⠄⠄⠄⠄⢸⡏⡍⣿⡏⠄⠄⠄⢸⡏⣿⣿⣿
⣿⣿⣿⣿⣿⢼⡇⠄⠄⠄⠄⣸⡇⣷⣻⣆⣀⣀⣀⣼⣻⣿⣿⣿
⣿⣿⣿⣿⣿⣜⠿⢦⣤⣤⡾⢟⣰⣿⣷⣭⣯⣭⣯⣥⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿`);
    </script>
</Layout>
