---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Profile" description="Vaibhav's Homepage on the internet">
    <style>
        table {
            border-collapse: collapse;
        }

        .tooltip {
            visibility: hidden;
            position: absolute;
        }
        .has-tooltip:hover .tooltip {
            visibility: visible;
            z-index: 100;
        }
    </style>
    <main class="space-y-12 pt-8 md:pt-12 pb-8 relative">
        <div class="col-span-2 bg-white relative">
            <div
                class="px-3 md:px-4 justify-around absolute space-y-[7.38rem] md:space-y-[9.12rem] -top-3 bottom-0 z-10"
            >
                <div class="h-6 w-6 bg-enamel rounded-full"></div>
                <div class="h-6 w-6 bg-enamel rounded-full"></div>
                <div class="h-6 w-6 bg-enamel rounded-full"></div>
                <div class="h-6 w-6 bg-enamel rounded-full"></div>
                <div class="h-6 w-6 bg-enamel rounded-full md:block"></div>
            </div>
            <div
                class="mx-12 md:mx-14 px-4 py-12 border-x border-enamel text-carbon leading-6 md:leading-6 text-xs md:text-sm"
            >
                ## Profile: Senior Software Engineer<br /><br class="" />
                ## Skills (in his own words): <br />
                "<span class="">Obsession</span> and <span class=""
                    >reliability</span
                > are the only two skills I have."<br /><br />

                ## Further comments:<br />
                "Love for computers is beyond everything."<br /><br />

                ## Interests:
                <figure>
                    <img
                        class="mt-4 invert grayscale contrast-200 border"
                        alt="Event Horizon"
                        src="/images/black-hole.jpg"
                        title="I hope to travel far enough one day to reach the unknown."
                    />
                    <figcaption class="text-center">
                        Fig 1: Event Horizon
                    </figcaption>
                </figure>
            </div>
            <div
                class="px-3 md:px-4 justify-around absolute space-y-[7.38rem] md:space-y-[9.12rem] -top-3 bottom-0 right-0 z-10"
            >
                <div class="h-6 w-6 bg-enamel rounded-full"></div>
                <div class="h-6 w-6 bg-enamel rounded-full"></div>
                <div class="h-6 w-6 bg-enamel rounded-full"></div>
                <div class="h-6 w-6 bg-enamel rounded-full"></div>
                <div class="h-6 w-6 bg-enamel rounded-full md:block"></div>
            </div>
        </div>
        <div class="h-min-[80px]"></div>
        <div class="flex">
            <a
                class="text-md ml-auto px-2 bg-yellow-200 underline"
                href="/resume">Complete Resume →</a
            >
        </div>
    </main>
    <script>
        console.info("What are you looking for? This is HTML Site.");
        console.log(`⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⢻⡻⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣟⣫⡾⠛⠛⠛⠛⠛⠛⠿⣾⣽⡻⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡟⣼⠏⠄⠄⠄⠄⠄⠄⣀⣀⡀⣙⣿⣎⢿⣿⣿⣿
⣿⣿⣿⣿⣿⢹⡟⠄⠄⠄⣰⡾⠟⠛⠛⠛⠛⠛⠛⠿⣮⡻⣿⣿
⣿⡿⢟⣻⣟⣽⠇⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠈⢿⡹⣿
⡟⣼⡟⠉⠉⣿⠄⠄⠄⠄⢿⡄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣼⢟⣿
⣇⣿⠁⠄⠄⣿⠄⠄⠄⠄⠘⢿⣦⣄⣀⣀⣀⣀⣤⡴⣾⣏⣾⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠈⠉⠛⠋⠉⠉⠄⠄⢻⣿⣿⣿
⢃⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢸⣧⣿⣿
⡻⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣸⣧⣿⣿
⡇⣿⠄⠄⠄⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⣿⢹⣿⣿
⣿⡸⢷⣤⣤⣿⡀⠄⠄⠄⠄⢠⣤⣄⣀⣀⣀⠄⠄⢠⣿⣿⣿⣿
⣿⣿⣷⣿⣷⣿⡇⠄⠄⠄⠄⢸⡏⡍⣿⡏⠄⠄⠄⢸⡏⣿⣿⣿
⣿⣿⣿⣿⣿⢼⡇⠄⠄⠄⠄⣸⡇⣷⣻⣆⣀⣀⣀⣼⣻⣿⣿⣿
⣿⣿⣿⣿⣿⣜⠿⢦⣤⣤⡾⢟⣰⣿⣷⣭⣯⣭⣯⣥⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿`);
    </script>
</Layout>
