---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume" description="My Resume">
    <main class="pt-4 md:pt-8 h-[calc(100vh-15%)]">
        <a href="/Vaibhav-Kubre-Resume.pdf" download="Vaibhav-Kubre-Resume.pdf" class="hidden"></a>
        <embed
            class="max-w-screen-lg mx-auto w-full h-full"
            src="/Vaibhav-Kubre-Resume.pdf"
            width="596"
            height="842"
            type="application/pdf"
        />
    </main>
</Layout>
