---
import Layout from "../layouts/Layout.astro";
import Chip from "../components/Chip.astro";
import Contacts from "../components/Contacts.astro";
---

<Layout title="Resume" description="My Resume">
    <style>
        table {
            border-collapse: collapse;
        }

        .tooltip {
            visibility: hidden;
            position: absolute;
        }
        .has-tooltip:hover .tooltip {
            visibility: visible;
            z-index: 100;
        }
    </style>
    <main class="space-y-12 pt-4 md:pt-8 pb-8 relative">
        <div class="flex justify-end">
            <a
                href="/Vaibhav-Kubre-Resume.pdf"
                download="Vaibhav-Kubre-Resume.pdf"
                class="border border-white font-semibold text-sm bg-white/90 text-black hover:bg-white/80 py-1 px-2 col-span-2"
                >↓ Download PDF Version</a
            >
        </div>
        <div>
            <div class="py-1 uppercase font-semibold text-2xl border-b mb-8">
                Languages and Technologies
            </div>

            <div class="grid grid-cols-4">
                <span class="font-semibold col-span-4 md:col-span-1"
                    >Languages:</span
                ><span class="col-span-4 md:col-span-3 pb-2">
                    Python, JavaScript, TypeScript, PHP, Java</span
                >
                <span class="font-semibold col-span-4 md:col-span-1"
                    >Databases:</span
                ><span class="col-span-4 md:col-span-3 pb-2"
                    >MySQL, MongoDB, Weaviate</span
                >
                <span class="font-semibold col-span-4 md:col-span-1"
                    >Frameworks:</span
                ><span class="col-span-4 md:col-span-3 pb-2"
                    >ExpressJs, Django, Laravel, ReactJs, TailwindCSS</span
                >
                <span class="font-semibold col-span-4 md:col-span-1"
                    >Technologies:</span
                ><span class="col-span-4 md:col-span-3 pb-2"
                    >Nodejs, REST APIs, GraphQL, WebSockets, Docker, Kubernetes,
                    AWS, Git, Shell Scripting (bash), Linux</span
                >
                <span class="font-semibold col-span-4 md:col-span-1"
                    >Others:</span
                ><span class="col-span-4 md:col-span-3"
                    >Design Patterns, Data Structures and Algorithms, Continues
                    Integration and Deployment</span
                >
            </div>
        </div>
        <div class="col-span-2 pt-8">
            <div class="py-1 uppercase font-semibold text-2xl border-b mb-8">
                Work Experience
            </div>
            <div class="grid">
                <span class="font-bold hidden md:inline-block"
                    >Full Stack Engineer</span
                >
                <span class="font-bold hidden md:inline-block text-center"
                    >TARS<span class="font-normal">(Bangalore, India)</span
                    ></span
                >
                <span class="font-bold text-right hidden md:inline-block"
                    >July 2022-Present</span
                >
                <span class="md:hidden col-span-3 flex justify-between"
                    ><span class="font-semibold">Fullstack Engineer - TARS</span
                    >
                    <span class="text-right">July 2022-Present</span></span
                >
                <ul class="pt-2 col-span-3 list-disc list-inside space-y-2">
                    <li>
                        Achieved 1000% growth in new chatbots, boosting platform
                        sign-ups; engineered Python API backend which turns the
                        website URL into an ai-chatbot in 30 seconds.
                    </li>
                    <li>
                        Deployed Python API backend handling thousands of API
                        requests using Docker, GitHub Actions, AWS EKS, and
                        Prometheus-Grafana for seamless CI/CD, cloud deployment,
                        and monitoring respectively.
                    </li>
                    <li>
                        Built livechat into WhatsApp chatbot backend helping
                        customers like Vodafone Qatar handle support during
                        stressful events like FIFA 2022 and many more.
                    </li>
                    <li>
                        Improved bundling performance by 90% by upgrading to
                        Webpack 5, and its plugins by using caching, identifying
                        and refactoring slow points, and moving type-checking
                        into separate a thread. Also improved developer's
                        productivity by introducing typescript and strict
                        type-checking at build time.
                    </li>
                    <li>
                        Halved customer success team's solution delivery time by
                        creating a UI that automated their workflow for testing
                        solutions.
                    </li>
                </ul>
                <div class="min-h-[40px] col-span-3"></div>
                <span class="font-bold hidden md:inline-block"
                    >Junior Fullstack Engineer</span
                >
                <span class="font-bold hidden md:inline-block text-center"
                    >TARS<span class="font-normal">(Bangalore, India)</span
                    ></span
                >
                <span class="font-bold text-right hidden md:inline-block"
                    >Dec 2021 - Jun 2022</span
                >
                <span class="md:hidden col-span-3 flex justify-between"
                    ><span class="font-semibold"
                        >Junior Fullstack Engineer - TARS
                    </span>
                    <span class="text-right">Dec 2021 - Jun 2022</span></span
                >
                <ul class="pt-2 col-span-3 list-disc list-inside space-y-1">
                    <li>
                        Built livechat into web chatbot which requires no
                        additional sign-up and can be used by any existing Tars
                        customers.
                    </li>
                    <li>
                        Helped increase query response time by 20% and increased
                        developers' productivity by refactoring and documenting
                        old parts of the NodeJS backend code.
                    </li>
                    <li>
                        Improved dashboard performance and development time by
                        helping in rewriting existing backbone-js code into
                        React.
                    </li>
                    <li>
                        Integrated Zendesk Livechat into Tars WhatsApp chatbot
                        backend, Letting businesses connect their agents to
                        customers via WhatsApp.
                    </li>
                </ul>

                <div class="min-h-[40px] col-span-3"></div>
                <span class="font-bold hidden md:inline-block"
                    >Full Stack Engineer</span
                >
                <span class="font-bold hidden md:inline-block text-center"
                    >kubre.in</span
                >
                <span class="font-bold text-right hidden md:inline-block"
                    >Jan 2019 - Nov 2021</span
                >
                <span class="md:hidden col-span-3 flex justify-between"
                    ><span class="font-semibold">Freelnace Web Developer</span>
                    <span class="text-right">Jan 2019 - Nov 2021</span></span
                >
                <ul class="pt-2 col-span-3 list-disc list-inside space-y-1">
                    <li>
                        Developed a website for the TaxGlobe community to share
                        market trends and purchase books using Livewire,
                        AlpineJS, and MySQL. Read more in detail at <a
                            href="/work/taxglobe"
                            class="underline">Design Document</a
                        >.
                    </li>
                    <li>
                        Collaborated with Wonder Learning to implement their
                        learning management system, allowing 20+ schools to
                        transition to online learning during the pandemic using
                        Laravel, VueJS, and MySQL. Read more in detail at <a
                            href="/work/wonder-learning"
                            class="underline">Design Document</a
                        >.
                    </li>
                    <li>
                        Constructed GateArch's online exam portal for
                        administering mock exams for architecture students using
                        Laravel and MySQL. Read more in detail at <a
                            href="/work/gatearch"
                            class="underline">Design Document</a
                        >.
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="py-1 uppercase font-semibold text-2xl border-b mb-8">
                Education
            </div>
            <ul class="list-disc list-inside space-y-2">
                <li>
                    <span class="float-right">2019–2022</span>
                    B. Tech in CSE (9.3 CGPA)<br /> Dr. Babasaheb Amedbkar Technical
                    University, Maharashtra, India.
                </li>
                <li>
                    <span class="float-right">2015–2019</span>
                    Diploma in CSE (8 CGPA) <br />Maharashtra State Board of
                    Technical Education, Maharashtra India.
                </li>
            </ul>
        </div>
        <div><Contacts hideTitle={true} /></div>
    </main>
</Layout>
