---
export interface Props {
    hideTitle?: boolean;
}

const { hideTitle = false } = Astro.props;
---

{
    !hideTitle && (
        <code class="text-xs pb-2 pt-4 uppercase font-semibold">Contacts</code>
    )
}
<div
    class="grid grid-cols-4 text-xs text-center lg:grid-cols-6 lg:text-sm gap-x-2"
>
    <a
        target="_blank"
        class="bg-blue-700 hover:bg-blue-700/90 px-1 border border-white/40"
        href="mailto:v@kubre.in?subject=Hello">Email</a
    >
    <a
        target="_blank"
        class="bg-blue-700 hover:bg-blue-700/90 px-2 border border-white/40"
        href="https://linkedin.com/in/kubre">LinkedIn</a
    >
    <a
        target="_blank"
        class="bg-blue-700 hover:bg-blue-700/90 px-2 border border-white/40"
        href="https://github.com/kubre">GitHub</a
    >
    <a
        target="_blank"
        class="bg-blue-700 hover:bg-blue-700/90 px-2 border border-white/40"
        href="https://x.com/kubre_in">&#120143;</a
    >
</div>
