---
---

<div
    class="grid grid-cols-3 text-center lg:grid-cols-6 gap-y-2"
>
    <a
        target="_blank"
        class="underline hover:bg-amber/40 px-2"
        href="mailto:v@kubre.in?subject=Hello">Email</a
    >
    <a
        target="_blank"
        class="underline hover:bg-amber/40 px-2"
        href="https://linkedin.com/in/kubre">LinkedIn</a
    >
    <a
        target="_blank"
        class="underline hover:bg-amber/40 px-2"
        href="https://github.com/kubre">GitHub</a
    >
    <a
        target="_blank"
        class="underline hover:bg-amber/40 px-2"
        href="https://x.com/kubre_in">&#120143;</a
    >
    <a
        target="_blank"
        class="underline hover:bg-amber/40 px-2"
        href="https://www.youtube.com/@kubre_in">YouTube</a
    >
    <a
        target="_blank"
        class="underline hover:bg-amber/40 px-2"
        href="https://www.instagram.com/kubre_in">Instagram</a
    >
</div>
