---
export interface Props {
    hideTitle?: boolean;
}

const { hideTitle = false } = Astro.props;
---

<div
    class="grid grid-cols-3 text-xs text-center lg:grid-cols-6 lg:text-sm gap-2"
>
    <a
        target="_blank"
        class="bg-blue-700 text-blue-100 hover:bg-blue-700/90 px-2 rounded border border-blue-500"
        href="mailto:v@kubre.in?subject=Hello">Email</a
    >
    <a
        target="_blank"
        class="bg-blue-700 text-blue-100 hover:bg-blue-700/90 px-2 rounded border border-blue-500"
        href="https://linkedin.com/in/kubre">LinkedIn</a
    >
    <a
        target="_blank"
        class="bg-blue-700 text-blue-100 hover:bg-blue-700/90 px-2 rounded border border-blue-500"
        href="https://github.com/kubre">GitHub</a
    >
    <a
        target="_blank"
        class="bg-blue-700 text-blue-100 hover:bg-blue-700/90 px-2 rounded border border-blue-500"
        href="https://x.com/kubre_in">&#120143;</a
    >
    <a
        target="_blank"
        class="bg-blue-700 text-blue-100 hover:bg-blue-700/90 px-2 rounded border border-blue-500"
        href="https://www.youtube.com/@kubre_in">YouTube</a
    >
    <a
        target="_blank"
        class="bg-blue-700 text-blue-100 hover:bg-blue-700/90 px-2 rounded border border-blue-500"
        href="https://www.instagram.com/kubre_in">Instagram</a
    >
</div>
