---
---

<footer class="pt-1 pb-4 px-2 lg:px-0 border-t border-gray-700 text-xs text-gray-300">
    &copy; 2018 - {new Date().getFullYear()}, Vaibhav Kubre.<wbr /> Creative Commons
    Attribution 4.0 International License | Design inspired by <a
        href="https://berkeleygraphics.com/" target="_blank" rel="noopener noreferrer">Berkeley Graphics</a>
</footer>
