---
import Navitem from "./Navitem.astro";
---

<nav class="flex flex-col justify-between pb-2 pt-2 lg:pt-8">
    <div class="uppercase flex items-center justify-between py-2">
        <span id="title" class="font-black text-2xl md:text-6xl"
            >█▓▒░ Vaibhav Kubre</span
        >
        <a
            href="/about"
            class="text-carbon ml-auto px-2 absolute -right-5 top-6 md:relative md:top-auto md:right-none pt-[2px] pb-0 text-xs md:text-sm -rotate-90 bg-enamel hover:text-enamel hover:bg-carbon transition-colors"
            >⌥ PROD</a
        >
    </div>
    <div class="flex gap-x-2 pt-8">
        <Navitem title="✦ PROFILE" href="/" />
        <Navitem title="¶ BLOG" href="/blog" />
        <Navitem title="≥ WORK" href="/work" />
    </div>
</nav>
