---
import "./NavLink.astro";
import NavLink from "./NavLink.astro";
---

<nav
  class="py-4 flex text-center justify-center px-4 md:px-8 gap-x-2 md:gap-x-8 max-w-screen-xl mx-auto"
>
  <h3 class="flex items-center text-lg md:text-2xl font-bold mr-auto">
    <a href="/">Vaibhav Kubre</a>
  </h3>
  <NavLink title="🚀 &nbsp;Index" href="/" />
  <NavLink title="💡 &nbsp;Blog" href="/blog" />
  <NavLink title="💼 &nbsp;Resume" href="/resume" />
</nav>
