---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;

const { pathname } = new URL(Astro.request.url);
console.log(new URL(Astro.url));

const isActive = pathname.replace(/\/$/, "") === href.replace(/\/$/, "");

const activeClasses = "bg-slate-100 text-slate-900";
---

<a
  class={`${
    isActive && activeClasses
  } py-2 px-2 md:w-36 uppercase rounded transition hover:bg-slate-100 hover:text-slate-900 flex align-center justify-center`}
  href={href}
>
  {title}
</a>
