---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;

const { pathname } = new URL(Astro.request.url);
const isActive = pathname.replace(/\/$/, "") === href.replace(/\/$/, "");
const activeClasses = "border-white";
---

<a
  class={`${
    isActive && activeClasses
  } text-sm uppercase px-3 transition flex items-center justify-center border-b border-transparent`}
  href={href}
>
  {title}
</a>
