---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Work" description="My Personal work or documents related to it.">
    <main class="pt-8 pb-4 grid gap-y-4">
        <fieldset class="border border-dashed px-2 py-1">
            <legend class="ml-auto text-xs border-x border-dashed px-2"
                >Note</legend
            >
            I worked on several projects and here are details for few of them, although
            called as Design Documents they do not follow any formal structure just
            my thoughts on how projects were finished.
        </fieldset>
        <ul class="list-disc list-inside space-y-1 text-sm">
            <li>
                <a
                    class="text-blue-700 visited:text-purple-700 underline font-semibold"
                    href="/work/taxglobe">TaxGlobe</a
                >
            </li>
            <li>
                <a
                    class="text-blue-700 visited:text-purple-700 underline font-semibold"
                    href="/work/gatearch">GateArch</a
                >
            </li>
            <li>
                <a
                    class="text-blue-700 visited:text-purple-700 underline font-semibold"
                    href="https://kubre.notion.site/Wonder-Learning-bb9e4db301564816b16d4c587f7d5e91"
                    target="_blank"
                    rel="noopener noreferrer">Wonder Learning</a
                >
            </li>
            <li class="text-white/80">Working on adding more...</li>
        </ul>
        <p class="text-sm text-white/80">
            As of now pages are in Notion, But I'm working on designing
            beautiful pages themed same as this website.
        </p>
    </main>
</Layout>
