---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import WorkCard from "../../components/WorkCard.astro";

const docs = await getCollection("work").then((docs) => {
    return docs
        .sort((a, b) => {
            return (
                new Date(b.data.publishedAt).valueOf() -
                new Date(a.data.publishedAt).valueOf()
            );
        })
        .map((doc) => {
            return {
                ...doc,
                data: {
                    ...doc.data,
                    readTime: Math.ceil(doc.body.split(" ").length / 200),
                },
            };
        });
});
---

<Layout
    title="Work"
    description="My Personal work and documents related to it."
>
    <main class="pt-8 pb-4 grid gap-y-4">
        <fieldset class="border border-dashed px-2 py-1 my-4">
            <legend class="ml-auto text-xs border-x border-dashed px-2"
                >Note
            </legend>
            I worked on several projects and here are details for few of them, although
            called as Design Documents they do not follow any formal structure just
            my thoughts on how projects were finished.
        </fieldset>
        {docs.map((doc) => <WorkCard post={doc} />)}
    </main>
</Layout>
